@implements IAsyncDisposable

@if (HasCoordinates || Editable)
{
    <div class="shelter-map-frame" style="@($"height:{Height};")">
        <div id="@_mapId" class="shelter-map"></div>
    </div>
    @if (Editable && !HasCoordinates)
    {
        <MudText Typo="Typo.caption" Color="Color.Secondary" Class="mt-1">Click on the map to set the shelter location.</MudText>
    }
}
else
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
        Map location is not available for this shelter.
    </MudAlert>
}

