SQL_PASSWORD=Change_this_Strong_Password_123!
SQL_DATABASE=PawConnect
APP_HTTP_PORT=8080
SQLSERVER_HOST_PORT=1433

DATABASE_APPLY_MIGRATIONS_ON_STARTUP=true
SEED_DATA_ENABLED=true

OPENAI_ENABLED=false
OPENAI_API_KEY=

EMAIL_ENABLED=true
SMTP_HOST=smtp4dev
SMTP_PORT=25
SMTP4DEV_WEB_PORT=5001
SMTP4DEV_SMTP_HOST_PORT=2525

SCHEDULED_REPORTS_ENABLED=false
VISIT_REMINDERS_ENABLED=false
